<div class="container">
    <div class="page-header flex-sb-c">
        <p class="felx-c-c">Mugavilələr</p>
        <div class="btn-box flex-fe-c">
            <button style="background-color: #1c3651;" class="filled-btn mr-2 p-1 flex-c-c"
                matTooltip="Yeni şablon yarat">
                <mat-icon class="btn-icon" (click)="openPopup(0)">add</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="mat-elevation-z8 main-table">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 main-table">

                    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Adı </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef> Başlama Tarixi </th>
                        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef> Bitmə Tarixi </th>
                        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="curator">
                        <th mat-header-cell *matHeaderCellDef> Kurator </th>
                        <td mat-cell *matCellDef="let element"> {{element.curator.value}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="sub">
                        <th mat-header-cell *matHeaderCellDef> Abunəçi nömrəsi </th>
                        <td mat-cell *matCellDef="let element"> {{element.subscriber.value}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="servis">
                        <th mat-header-cell *matHeaderCellDef> Servis </th>
                        <td mat-cell *matCellDef="let element"> {{element.service.value}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="contract">
                        <th mat-header-cell *matHeaderCellDef> Müqavilə Bəndi </th>
                        <td mat-cell *matCellDef="let element"> {{element.contractClause.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="pointer" (click)="openPopup(element.id)">edit</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="pointer" (click)="deleteContract(element.id)">delete</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"
                            class="text-center">
                            Məlumat tapılmadı
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource"></tr>
                </table>
            </div>
        </div>
    </div>
</div>