<div class="card-box">
    <div class="card">
        <mat-icon>assignment</mat-icon>
        <p class="title">Muqavileler</p>
    </div>
    <div class="card">
        <mat-icon>supervised_user_circle</mat-icon>
        <p class="title">Mehsul Shexsler</p>
    </div>
    <div class="card">
        <mat-icon>payment</mat-icon>
        <p class="title">Odenishler</p>
    </div>
    <div class="card">
        <mat-icon>money_off</mat-icon>
        <p class="title">Borclar</p>
    </div>
    <div class="card">
        <mat-icon>assignment</mat-icon>
        <p class="title">Muqavileler</p>
    </div>
    <div class="card">
        <mat-icon>supervised_user_circle</mat-icon>
        <p class="title">Mehsul Shexsler</p>
    </div>
    <div class="card">
        <mat-icon>payment</mat-icon>
        <p class="title">Odenishler</p>
    </div>
    <div class="card">
        <mat-icon>money_off</mat-icon>
        <p class="title">Borclar</p>
    </div>
</div>