
<div class="subtitle mt-1 mb-3">
    <h4 *ngIf="data.report">{{data.report.reporT_FILE_TYPE_NAME}}</h4>
    <h4 *ngIf="!data.report">Yeni Müqavilə yarat</h4>
</div>
<div class="col mr-4">
    <div class="form-group mt-2">
        <label>Müqavilə adı:</label>
        <input class="default--input" [(ngModel)]="contractName" type="text" />
    </div>
    <div class="form-group mt-2">
        <label>Başlanğıc tarixi</label>
        <div class="default--input flex-sb-c">
            <input class="dt disabled-input" [matDatepicker]="datepickerA" type="text" [(ngModel)]="startDate" />
            <mat-datepicker-toggle matSuffix class="cal-button datepicker" [for]="datepickerA">
            </mat-datepicker-toggle>
        </div>
        <mat-datepicker #datepickerA></mat-datepicker>
    </div>
    <div class="form-group mt-2">
        <label>Bitmə tarixi</label>
        <div class="default--input flex-sb-c">
            <input class="dt disabled-input" [matDatepicker]="datepickerB" type="text" [(ngModel)]="endDate" />
            <mat-datepicker-toggle matSuffix class="cal-button datepicker" [for]="datepickerB">
            </mat-datepicker-toggle>
        </div>
        <mat-datepicker #datepickerB></mat-datepicker>

    </div>
    <div class="form-group mt-2">
        <label>Məsul Şəxs:</label>
        <mat-select [(ngModel)]="subscriberId" class="default--input">
            <mat-option *ngFor="let ddl of subscriberDDL" [value]="ddl.id">
                {{ ddl.name }}
            </mat-option>
        </mat-select>
    </div>
    <div class="form-group mt-2">
        <label>Servis:</label>
        <mat-select [(ngModel)]="serviceId" class="default--input">
            <mat-option *ngFor="let ddl of serviceDDL" [value]="ddl.id">
                {{ ddl.name }}
            </mat-option>
        </mat-select>
    </div>
    <div class="form-group mt-2">
        <label>Müqavilə bəndi:</label>
        <mat-select [(ngModel)]="conClauseId" class="default--input">
            <mat-option *ngFor="let ddl of conClauseDDL" [value]="ddl.id">
                {{ ddl.name }}
            </mat-option>
        </mat-select>
    </div>
</div>
<div class="btn-box mt-3 flex-fe-c">
    <button class="filled-btn mr-2 p-1 flex-c-c" (click)="onSubmit()">
        <mat-icon class="btn-icon mr-2">done</mat-icon>
        <span>Yadda saxla</span>
    </button>
</div>

<mat-icon class="popup-close" (click)="closeDialog()">close</mat-icon>